.header {
  @include display(flex, center);
  // display: flex;
  // align-items: center;
  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header > .container {
  display: flex;
  align-items: center;
  width: 100%;
  // margin-left: 93px;
}

.navigation {
  align-items: center;
  margin-left: 93px;
}

.navigation__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.navigation__item {
  display: block;
}

.navigation__link {
  padding: 30px 0;
  display: block;
  @include font(500, 14px, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--hover-color);
}

.current-page {
  color: var(--hover-color);
  position: relative;
}

.current-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.current-page,
.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    margin-left: auto;
  }
}
.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__mail {
  padding-top: 20px;
  // padding-bottom: 32px;
  @include display(flex, center, null);
  // display: flex;
  // align-items: center;
  @include font(500, 14px, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    // padding-top: 20px;
    // margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 32px 0;
    // margin-bottom: 0;
  }
}

.contacts__tel {
  // padding-top: 32px;
  padding-bottom: 20px;
  @include display(flex, center, null);
  // display: flex;
  // align-items: center;
  @include font(500, 14px, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
  @media screen and (min-width: 768px) {
    // padding-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
}

.contacts__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.menu-open {
  position: relative;
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-open:hover,
.menu-open:focus {
  fill: var(--hover-color);
}

.open-icon {
  margin-left: auto;
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 48px 40px;
  background-color: var(--background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
}
.close-icon {
  background-color: transparent;
}

.close-icon:hover,
.close-icon:focus {
  color: var(--hover-color);
}

.mob-menu-navigation {
  display: flex;
  flex-direction: column;
}
.mob-menu-list {
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  @media screen and (min-width: 480px) {
    font-size: 40px;
  }
}

.mob-contacts {
  margin-bottom: 64px;
}
.mob-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts-tel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.mob-contacts-mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--hover-color);
  @media screen and (min-width: 480px) {
    font-size: 24px;
  }
}

.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 15px;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}
