:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-color: #2196f3;
  --background-color: #ffffff;
  --footer-background: #2f303a;
  --our-team-background: #f5f4fa;
  --features-background: #2f303a;
  --button-bacground: #188ce8;
  --our-job-bacground: #e5e5e5;
  --button-text: #ffffff;
  --hover-button: #188ce8;
  --icon-color: #afb1b8;
}
